<div class="item">
  <h2>Acceder a Mis Recetas</h2>
  <p>
    Sera necesario hacer login para poder utilizar "Mis recetas", donde podras
    almacenar,borrar y editar tus propias recetas.
  </p>
  <h2>Como hacer login</h2>
  <p>
    Para hacer login basta con tener una cuenta de google y hacer click en login
    y seleccionar tu cuenta.
  </p>

  <h2>Como recalcular una receta</h2>
  <p>
    En la pestaña "Calculadora", podras introducir los comensales para los que
    es una receta, introducir el numero nuevo de comensales y al añadir los
    ingredientes transformarlo para saber cuanto necesitas de cada ingrediente
</p>

  <h2>Sobre Nosotos</h2>
  <p>
    En "Sobre Nosotros" tienes una breve descripcion sobre el objetivo de esta
    aplicacion, asi como el contacto por si nos quieres enviar algun comentario
    o sugerencia.
  </p>
</div>
<a routerLink="/" class="data m-3 button back"
  ><svg
    height="30px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    id="right-sign-1"
    class="icon glyph"
    fill="#000000"
    transform="rotate(180)"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <path
        d="M15.64,6.23A1,1,0,0,0,14,7V9H3a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H14v2a1,1,0,0,0,.58.91A1,1,0,0,0,15,18a1,1,0,0,0,.64-.23l5.08-4.23a2,2,0,0,0,0-3.08Z"
        style="fill: #000000"
      ></path>
    </g></svg
></a>
