.item {
  display: flex;
  flex-direction: column;
  background: var(--color-1);
  border: 3px solid var(--color-8);
  border-radius: 5px;
  width: 285px;
  margin-left: auto;
  margin-right: auto;
}

p{
  padding:5px 10px ;
  margin: 0;
  font-weight: bold;
}
