<div class="item"><p>

  Mi nombre es Jorge Martín, el desarrollador de Select Recipe.<br>

  Desde el corazón de este proyecto, mi objetivo es crear aplicaciones que hagan que la vida cotidiana sea más fácil y agradable.<br>

  En Select Recipe, me enorgullece ofrecerte una plataforma donde podrás guardar tus recetas, buscar nuevas para inspirarte, calcular el coste de tus recetas y recalcular la cantidad de ingredientes para tu numero de comensales.<br>

  Si tienes alguna pregunta, sugerencia o comentario, no dudes en contactarme en SelectNuez@gmail.com.</p></div>
  <a routerLink="/" class="data m-3 button back"><svg height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="right-sign-1" class="icon glyph" fill="#000000" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.64,6.23A1,1,0,0,0,14,7V9H3a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H14v2a1,1,0,0,0,.58.91A1,1,0,0,0,15,18a1,1,0,0,0,.64-.23l5.08-4.23a2,2,0,0,0,0-3.08Z" style="fill:#000000"></path></g></svg></a>
