<p>Bienvenido a Select Recipe.

  Mi nombre es Jorge Martín, el fundador y desarrollador detrás de Select Recipe.

  Desde el corazón de este proyecto, mi objetivo es crear aplicaciones que hagan que la vida cotidiana sea más fácil y agradable.

  En Select Recipe, me enorgullece ofrecerte una plataforma donde podrás guardar tus recetas, buscar nuevas para inspirarte, calcular el coste de tus recetas y recalcular la cantidad de ingredientes para tu numero de comensales.

  Si tienes alguna pregunta, sugerencia o comentario, no dudes en contactarme en SelectNuez@gmail.com.</p>
