.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  background-color: var(--color-1);
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
  min-height: 440px;
  max-height: 65vh;
  font-weight: bolder;
  padding: 10px;
  font-size: large;
  overflow-x: hidden;
}

ul{
  padding-left: 0;

}

.ingredient-list {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.full{
  width: 252px;
  font-size: large;
  text-align: center;
}

.half{
  width: 100px;
  font-size: large;
  text-align: center;
}

.col-full {
  width: 100%;
  box-sizing: border-box;
  text-align: center;

}

.col-half {
  width: 50%;
  box-sizing: border-box;
  text-align: center;

}

.col-quarter{
  width: 25%;
  box-sizing: border-box;
  text-align: center;

}

.col-3{
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;

}

.col-25{
  width: 25%;
  box-sizing: border-box;
  text-align: center;

}

.col-10{
  width: 10%;
  box-sizing: border-box;
  text-align: center;

}

.scroll{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}


.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.button.add {
  margin-top: 8px; /* Ajusta el margen según tus preferencias */
  width: 215px;
  height: 40px;
}

.button{
  margin: 5px;
  width: 100px;
  height: 42px;
}

.back{
  width: 42px;
  height: 42px;
}

.set{
  bottom: 10px;
}
.bottom-buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.error{
  color: var(--color-4);
  font-weight: bold;
  font-size: 1.2rem;
}

.row.list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.error{
  color: var(--color-4);
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  width: 265px;
}

.col {
  display: flex;
  flex-direction: column;
}

.ingredient-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  max-width: 260px;
}

.name {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
}

.details {
  display: flex;
  align-items: center;
}

.quantity,
.price {
  margin-left: 10px;
}

.data {
  margin-left: 10px;
}
