.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  background-color: var(--color-1);
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
  height: 430px;
  font-weight: bolder;
  padding: 10px;
  overflow-x: hidden;
}


ul{
  padding-left: 0;

}

.ingredient-list {
  list-style-type: none;
  padding: 0;
}

.row {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.full{
  width: 258px;
  font-size: large;
  text-align: center;

}

.half{
  width: 128px;
  font-size: large;
  text-align: center;

}

.col-full {
  width: 100%;
  box-sizing: border-box;
  text-align: center;

}

.col-half {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.col-50{
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}



.scroll{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.button.add {
  margin-top: 8px; /* Ajusta el margen según tus preferencias */
  width: 215px;
  height: 40px;
}

.button{
  margin: 5px;
  width: 100px;
  height: 42px;
}

.back{
  width: 42px;
  height: 42px;
}

.set{
  bottom: 10px;
}
.bottom-buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px; /* Agrega algún espacio entre los botones y el borde inferior */
}

.error{
  color: var(--color-4);
  font-weight: bold;
  font-size: 1.2rem;
}

.list {
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
  width: 250px;
  flex-wrap: nowrap;
  padding: 10px 0;
}

.col{
  margin-top: 10px;
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  margin-bottom: 5px;
}

.col.name {
  flex: 0 0 50%;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
