<div id="content">
  <form class="box p-3 mx-3" id="personas" [formGroup]="formDiner" (ngSubmit)="setPersonas()">
    <div class="box-element mb-3">
      <label for="perOrig" class="me-3">Numero original comensales</label>
      <input required type="number" class="AddPers" id="perOrig" formControlName="originalNumber" />
      <div *ngIf="formDiner.get('originalNumber').hasError('required') && showErrorMsg">
        El número original es obligatorio.
      </div>
      <div *ngIf="formDiner.get('originalNumber').hasError('min')">
        El número original debe ser mayor que 0.
      </div>
    </div>
    <div class="box-element mb-3">
      <label for="perNew" class="me-3">Numero nuevo comensales</label>
      <input required type="number" class="AddPers" id="perNew" formControlName="newNumber" />
      <div *ngIf="formDiner.get('newNumber').hasError('required') && showErrorMsg">
        El número nuevo es obligatorio.
      </div>
      <div *ngIf="formDiner.get('newNumber').hasError('min')">
        El número nuevo debe ser mayor que 0.
      </div>
    </div>
    <div class="box-element mb-3">
      <label for="perNew" class="me-3">¿Quiere calcular el precio de la receta?</label>
      <input type="checkbox" class="calcPrice" id="calcPrice" formControlName="calcPrice" />
    </div>
    <button type="submit" class="box-button button">Introducir ingredientes</button>
  </form>


  <div
    class="btn-toolbar"
    role="toolbar"
  >
    <nav id="botones" class="btn-group mr-2" role="group">

      <a routerLink="/" class="data m-3 button">Volver</a>
    </nav>
  </div>
  <div id="alerts"></div>
</div>
