<div class="container">
  <form class="box" id="personas" [formGroup]="formDiner" (ngSubmit)="setPersonas()">
    <div class="box-element mb-3">
      <label for="perOrig" >Numero original comensales</label>
      <input required type="number" class="AddPers" id="perOrig" formControlName="originalNumber" />
      <div class="error" *ngIf="formDiner.get('originalNumber').hasError('required') && showErrorMsg">
        El número original es <b>obligatorio</b>.
      </div>
      <div class="error"*ngIf="formDiner.get('originalNumber').hasError('min')">
        El número original debe ser mayor que 0.
      </div>
    </div>
    <div class="box-element mb-3">
      <label for="perNew" >Numero nuevo comensales</label>
      <input required type="number" class="AddPers" id="perNew" formControlName="newNumber" />
      <div class="error" *ngIf="formDiner.get('newNumber').hasError('required') && showErrorMsg">
        El número nuevo es obligatorio.
      </div>
      <div class="error" *ngIf="formDiner.get('newNumber').hasError('min')">
        El número nuevo debe ser mayor que 0.
      </div>
    </div>
    <div class="box-element mb-3">
      <label for="perNew" >¿Quiere calcular el precio de la receta?</label>
      <input type="checkbox" class="calcPrice" id="calcPrice" formControlName="calcPrice" />
    </div>
    <button type="submit" class="box-button button">Introducir ingredientes</button>
  </form>


  <div
    class="btn-toolbar"
    role="toolbar"
  >
    <nav id="botones" class="btn-group mr-2" role="group">

    </nav>
  </div>
  <div id="alerts"></div>
</div>
<a routerLink="/" class="data m-3 button back"><svg height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="right-sign-1" class="icon glyph" fill="#000000" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.64,6.23A1,1,0,0,0,14,7V9H3a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H14v2a1,1,0,0,0,.58.91A1,1,0,0,0,15,18a1,1,0,0,0,.64-.23l5.08-4.23a2,2,0,0,0,0-3.08Z" style="fill:#000000"></path></g></svg></a>

