.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  background-color: var(--color-1);
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 450px;
  font-weight: bolder;
  padding: 10px;
  font-size: large;
}
.error{
  color: var(--color-4);
  font-weight: bold;
  font-size: 1.2rem;
}
