<div class="container">
  <h2 id="ingredientes_titulo">Nueva Receta</h2>

  <form
    class="row align-items-start"
    [formGroup]="formRecipe"
    (ngSubmit)="setRecipeData()"
  >
    <div class="col">
      <div class="recipeTitle">Titulo de la receta</div>
      <input
        type="text"
        name="recipeName"
        id="recipeName"
        formControlName="recipeName"
      />
      <div
        class="error"
        *ngIf="
          formRecipe.get('recipeName').hasError('required') && showErrorMsg
        "
      >
        El nombre no puede estar vacio
      </div>
      <div class="recipeDinners">Numero comensales</div>
      <input
        type="number"
        name="recipeDinners"
        id="recipeDinners"
        formControlName="recipeDinners"
      />
      <div
        class="error"
        *ngIf="
          formRecipe.get('recipeDinners').hasError('required') && showErrorMsg
        "
      >
        El numero de comensales no puede estar vacio
      </div>
      <div
      class="error"
      *ngIf="
        formRecipe.get('recipeDinners').hasError('min') && showErrorMsg
      "
    >
      El numero de comensales no puede ser menor que 1
    </div>
    </div>
    <div class="bottom-buttons">
      <button class="button" type="submit">Añadir ingredientes</button>
      <button class="button" onclick="location.reload()">
        Volver a empezar
      </button>
    </div>
  </form>
</div>
<a routerLink="/recipes" class="data m-3 button back"
  ><svg
    height="30px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    id="right-sign-1"
    class="icon glyph"
    fill="#000000"
    transform="rotate(180)"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <path
        d="M15.64,6.23A1,1,0,0,0,14,7V9H3a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H14v2a1,1,0,0,0,.58.91A1,1,0,0,0,15,18a1,1,0,0,0,.64-.23l5.08-4.23a2,2,0,0,0,0-3.08Z"
        style="fill: #000000"
      ></path>
    </g></svg
></a>
