.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  background-color: var(--color-1);
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
  height: 350px;
  font-weight: bolder;
  padding: 10px;
  font-size: large;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.add {
  margin-top: 8px;
  width: 215px;
  height: 40px;
}

.button {
  margin: 5px;
  width: 119px;
  height: 60px;

}

.back {
  width: 42px;
  height: 42px;
}

.error {
  color: var(--color-4);
  font-weight: bold;
  font-size: 1.2rem;
}

.set {
  bottom: 10px;
}

.bottom-buttons {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
