.buttons-operations {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  background-color: var(--color-1);
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
  min-height: 430px;
  max-height: 65vh;
  font-weight: bolder;
  padding: 10px;
  font-size: large;
  overflow-x: hidden;
}

.button.calc {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinners{
  font-size: xx-large;
}

p {
  margin: 5px;
}

.scroll {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.row{
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 0;
  flex-wrap: nowrap;
  padding: 10px 0;
}
.col{
  margin-top: 10px;
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.col.name {
  flex: 0 0 50%;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  margin-bottom: 5px;
}
