:root {
  --color-1: #fbdbb8;
  --color-2: #fadce6;
  --color-3: #deaa94;
  --color-4: #f04739;
  --color-5: #906960;
  --color-6: #623231;
  --color-7: #ffd09e;
  --color-8: #000;
  --color-9: #c38f82;
  --color-OK: #97f28a;
}

* {
  font-family: "Quicksand", sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url("./assets/background.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
}

.box {
  background: var(--color-1);
  border: 3px solid #000;
  border-radius: 10px;
  font-weight: bold;
}

.button {
  background: var(--color-3);
  border: 3px solid #000;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: var(--color-8);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
