:root {
  --color-1: #fdebd8;
  --color-2: #fcdde9;
  --color-3: #eabaa7;
  --color-4: #f47e74;
  --color-5: #b8a396;
  --color-6: #8b6d5f;
  --color-7: #ffe3c4;
  --color-8: #333;
  --color-9: #b9948a;
  --color-OK: #a0f9ab;
}


* {
  font-family: 'Dosis', sans-serif;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 100%;
}

body {
  background:url("./assets/background.jpg") center/cover no-repeat;
  background-size: 120% 120%;
}

/* .box {
  background: var(--color-1);
  border: 3px solid #000;
  border-radius: 10px;
  font-weight: bolder;
} */



.button {
  background: var(--color-3);
  border: 3px solid #000;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.back{
  text-decoration: none;
  color: var(--color-8);
  padding: 3px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

