<nav>
  <div class="item" *ngIf="user | async">
    <a routerLink="/recipes" class="data">Mis recetas</a>
  </div>
  <div class="item">
    <a routerLink="/calculator" class="data"> Calculadora </a>
  </div>
  <div class="item">
    <a routerLink="/about" class="data"> Sobre nosotros </a>
  </div>
  <div class="item" *ngIf="!(user | async)">
    <!-- <a routerLink="/login" class="data" > Login </a> -->
    <button (click)="login()" class="data">
      Login
    </button>
  </div>
  <div class="item" *ngIf="user | async">
    <button (click)="logout()" class="data">
      Logout
    </button>
  </div>
</nav>
